.searchField {
    display: flex;
    justify-content: space-between;
}
.searchField input {
    flex:0 0 79%;
}
.searchField button {
    flex:0 0 19%;
}
.no-of-results {
    margin-bottom:1rem;
}

.video-card {
    cursor: pointer;
}
.video-card img {
    height: 300px;
    object-fit: cover;
}
.video-detail {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 1rem;
}

iframe {
    width: 100%;
    height: 400px;
}